body{
    background-image: url('back.jpg');
    background-size:cover;
    background-position: center 0.025px;
    font-family: Arial, Helvetica, sans-serif;
}
section:not(#homePage){
    display: none;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    grid-template-columns: 960px;
    gap: 5px;
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
   
}

header{
    font-size: 56px;
    text-align: center;
}

#cap{
    position:absolute;
    top:10px;    
    right:20px;
}
nav{
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
}
button{
    background-color: lightgray;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 16px;   
}
button:hover{
    background-color: beige;
}
main{
    background-color: peachpuff;
    text-align: center;
}
.CS2550{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap:5px;
    border: 1px solid black;
}
.left{
    margin: 20px;
}
.right{
    margin: 5px;
    width: 100%;
}
.contacting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

footer{
    background-color: darkgrey;
    text-align: center;
}
